{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            <table>
                {% for task in tasks %}
                {% empty %}
                    <p>You have no tasks</p>
                {% endfor %}
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>
                                <a href="{% url 'update_task' task.id %}">{{ task.name }}</a>
                            </td>
                            <td>{{ task.start_date|date:"M. j, Y P" }}</td>
                            <td>{{ task.due_date|date:"M. j, Y P" }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
