{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="task-form">
        <h1>Add Notes</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Add notes</button>
        </form>
    </div>
{% endblock content %}
