{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <p>
                <a href="{% url 'edit_project' project.id %}">Edit Project</a>
            </p>
            <p>
                <a href="{% url 'delete_project' project.id %}">Delete Project</a>
            </p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                {% for task in project.tasks.all %}
                {% empty %}
                    <p>This project has no tasks</p>
                {% endfor %}
                <thead>
                    <th>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </th>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        <tr>
                            <td>
                                <a href="{% url 'update_task' task.id %}">{{ task.name }}</a>
                            </td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date|date:"M. j, Y P" }}</td>
                            <td>{{ task.due_date|date:"M. j, Y P" }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
