{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>Edit Your Project</h1>
            <form method="post">
                {% csrf_token %} {{ form.as_p }}
                <button>Submit Edit</button>
            </form>
        </div>
    </main>
{% endblock content %}
